<!DOCTYPE html>
<html>
<head>
    <title></title>
    {% include "bootstrap.html" %}
</head>
<body>
    {% include "nav_bar.html" %}
    <div id='main_wrapper' class='row'>
      <div class="col-md-6 col-md-offset-3">


        {% if user.profile_picture %}
          <img src='{{ user.profile_picture.url }}' width='300'/>
        {% endif %}
        <h1>{{user.user.first_name}} {{user.user.last_name}}</h1>
        {% if user.githubinfo.html_url %}<h4><a href='{{ user.user.githubinfo.html_url }}'>Github Profile</a></h4>{% endif %}

        {% if user.github_username %}<h4><a href='{{ user.user.githubinfo.html_url }}'>Github Profile</a></h4> {% endif %}


        <ul>
          {% if user.bio %}<li>Bio: {{user.bio}}</li>{% endif %}
          {% if user.college %}<li>College: {{user.college}}</li>{% endif %}
          {% if user.current_title %}<li>Current Title: {{user.current_title}}</li>{% endif %}
          {% if user.current_employer %}<li>Current Employer: {{user.current_employer}}</li>{% endif %}
          {% if user.favorite_programming_language %}<li>Favorite Programming Language: </li>{% endif %}
          {% if user.race %}<li>Race: {{user.race}}</li>{% endif %}

          {% if user.github_username %} <li>Followers: {{user.user.githubinfo.followers}}</li> {% endif %}
          {% if user.github_username %} <li>Following: {{user.user.githubinfo.following}}</li> {% endif %}
          {% if user.github_username %} <li>Public Repos: {{user.user.githubinfo.public_repos}}</li> {% endif %}

        </ul>

      </div>
    </div>

</body>


</html>
