<div class='partial'>
	<h1>How it works!</h1>
	<p>Inner Join is based on the idea that people generally prefer to search for a romantic interest in a field of people who share many interests and skills.
<br>
<br>
	Developers are no different, and have a unique way of proving that they are in fact in the same general field. To emulate the potential similarity, users will find that before they have access to another users information, they must solve that users provided algorithm. Similar to gladiators of yore, our system guarantees that only those of quality will move forward, and those not worthy will be left dreaming for more.
<br>
<br>
	Once the algorithm is solved, you will be granted further information about that person and the ability to chat with them. If someone puts up an algorithm that you cannot solve, you will have to start studying if you really want to connect!
	 </p>
</div> 