<div class='partial'>
	<h1>About Us</h1>

	<p>We are three aspiring young studs focused on using Django and Angular to create a versatile and unique look at the dating world for developers.
<br>
<br>
	The developing world is a cold and scary place and who better to walk the dark path of bug hunting than with someone who shares a similar interest and skill set? This is why we call it Inner Join. If that doesn't make sense, you might find a lot of dead ends inside.
<br>
<br>
	Feast thine eyes upon what we have created from nothing.</p>
</div>