<!DOCTYPE html>
<html>
<head>
    <title></title>
    {% include "bootstrap.html" %}
</head>
<body>
  {% include "nav_bar.html" %}
    <div id='main_wrapper'>
      <h1>My matches</h1>
      {% for match in matches1 %}
        {% if match.two.user.username != user.username %}
          <h3>{{match.two}}</h3>
        {% endif %}
      {% endfor %}

      {% for match in matches2 %}
        {% if match.one.user.username != user.username %}
          <h3>{{match.one}}</h3>
        {% endif %}
      {% endfor %}
    </div>
</body>
</html>
